/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 4.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden; /* Risky, this need testing but I find scroll bar annoying */
}

a {
  color: #0d0d0d;
}

a:hover {
  color: #fe6615;
}

/* NAVAR
 * ----------------------------------------*/

.navbar {
  background-color: rgb(245, 245, 245);
  border-bottom: 0.25px solid #999;
}

.navbar li {
  transition: 0.3s background-color;
  text-align: center;
  background-color: transparent;
  padding: 0rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}

.navbar li:hover {
  background-color: #d0cccd;
}

.navbar li .nav-link {
  color: #0d0d0d;
}

/* Cards and card columns
----------------------------- */

.card-container {
  margin: 0 50px;
}

.card-columns {
  flex-wrap: wrap;
}

.card:hover {
  background: linear-gradient(90deg, #cc9add 8.06%, #ebad98 106.93%);
  text-decoration: none;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.card:hover .card-title,
.card:hover .card-subtitle,
.card:hover .card-text {
  color: white;
}

.card:hover .card-link {
  color: rgb(231, 231, 231);
}

@media (min-width: 768px) {
  .card {
    flex-basis: calc(33.33% - 30px);
  }
}
