<html lang="en">
<head>
  <title>Python Docs Translation Dashboard</title>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <base target="_blank">
</head>
<body>
<h1>Python Docs Translation Dashboard</h1>
<table>
<thead>
<tr>
  <th>language</th>
  <th>contribute</th>
  <th>build</th>
  <th>visitors¹</th>
  <th>translators</th>
  <th>warnings²</th>
  <th>completion</th>
</tr>
</thead>
<tbody>
{% for project in completion_progress | sort(attribute='completion,translators.number') | reverse %}
<tr>
  <td data-label="language">{{ project.language.name }} ({{ project.language.code }})</td>
  <td data-label="contribute">
    {% if project.contribution_link %}<a href="{{ project.contribution_link }}">{% endif %}
    {% if project.uses_platform %}platform{% else %}repository{% endif %}
    {% if project.contribution_link %}</a>{% endif %}
  </td>
  <td data-label="build">
    {% if project.built %}
      <a href="https://docs.python.org/{{ project.language.code }}/">✓{% if project.in_switcher %} in switcher{% endif %}</a>
    {% else %}
      ✗
    {% endif %}
  </td>
  <td data-label="visitors">
    {% if project.built %}
      <a href="https://plausible.io/docs.python.org?filters=((contains,page,(/{{ project.language.code }}/)))">
        {{ '{:,}'.format(project.visitors) }}
      </a>
    {% else %}
      {{ '{:,}'.format(project.visitors) }}
    {% endif %}
  </td>
  <td data-label="translators">
    {% if project.translators.link %}<a href="{{ project.translators.link }}">{% endif %}
    {{ project.translators.number }}
    {% if project.translators.link %}</a>{% endif %}
  </td>
  <td data-label="warnings"><a href="warnings-{{ project.language.code }}.txt">{{ project.warnings }}</a></td>
  <td data-label="completion">
    <div class="progress-bar" style="width: {{ project.completion }}%;">{{ "{:.2f}".format(project.completion) }}%</div>
    <div class="progress-bar-outer-label">{{ "{:.2f}".format(project.completion) }}%</div>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
<p>¹ sum of <a href="https://plausible.io/data-policy#how-we-count-unique-users-without-cookies">daily unique visitors</a> since 8 June 2024</p>
<p>² number of Sphinx build process warnings</p>
<p>For more information about translations, see the <a href="https://devguide.python.org/documentation/translating/">Python Developer’s Guide</a>.</p>
<p>Last updated at {{ generation_time.strftime('%A, %-d %B %Y, %-H:%M:%S %Z') }} (in {{ duration // 60 }}:{{ "{:02}".format(duration % 60) }} minutes).</p>
</body>
<script>
  function updateProgressBarVisibility() {
    document.querySelectorAll('.progress-bar').forEach(progressBar => {
      const textWidth = progressBar.scrollWidth;
      const barWidth = progressBar.offsetWidth;

      if (barWidth < textWidth) {
        progressBar.classList.add('low');
      } else {
        progressBar.classList.remove('low');
      }
    });
  }

  updateProgressBarVisibility();

  window.addEventListener('resize', updateProgressBarVisibility);
</script>
</html>
