<html lang="en">
<head>
  <title>Python Docs Translation Dashboard</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Python Docs Translation Dashboard</h1>
<table>
<thead>
<tr>
  <th>language</th>
  <th>contribute</th>
  <th>build</th>
  <th><a href="https://plausible.io/data-policy#how-we-count-unique-users-without-cookies" target="_blank">visitors</a></th>
  <th>translators</th>
  <th>completion</th>
</tr>
</thead>
<tbody>
{% for language, language_name, repo, completion, translators, translators_link, visitors, build, in_switcher, on_platform, contrib_link in completion_progress | sort(attribute='3,4') | reverse %}
<tr>
  <td data-label="language">{{ language_name }} ({{ language }})</td>
  <td data-label="contribute">
    {% if contrib_link %}<a href="{{ contrib_link }}" target="_blank">{% endif %}
    {% if on_platform %}platform{% else %}repository{% endif %}
    {% if contrib_link %}</a>{% endif %}
  </td>
  <td data-label="build">
    {% if build %}
      <a href="https://docs.python.org/{{ language }}/" target="_blank">✓{% if in_switcher %} in switcher{% endif %}</a>
    {% else %}
      ✗
    {% endif %}
  </td>
  <td data-label="visitors">
    {% if build %}
      <a href="https://plausible.io/docs.python.org?filters=((contains,page,(/{{ language }}/)))" target="_blank">
        {{ '{:,}'.format(visitors) }}
      </a>
    {% else %}
      {{ '{:,}'.format(visitors) }}
    {% endif %}
  </td>
  <td data-label="translators">
    {% if translators_link %}<a href="{{ translators_link }}" target="_blank">{% endif %}
    {{ translators }}
    {% if translators_link %}</a>{% endif %}
  </td>
  <td data-label="completion">
    <div class="progress-bar" style="width: {{ completion | round(2) }}%;">{% if completion >= 5 %}{{ completion | round(2) }}%{% endif %}</div>
    {% if completion < 5 %}<div class="progress-bar appendix">{{ completion | round(2) }}%</div>{% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>
<p>Last updated at {{ generation_time.strftime('%A, %d %B %Y, %X %Z') }}.</p>
</body>
</html>
