{% extends "base.html.jinja" %}

{% block main %}
    <div>
      <div class="row">
        {% for project in completion_progress | sort(attribute='completion,translators.number') | reverse %}
          <div class="col-12 col-sm-6 col-md-4 d-flex">
            <div class="card shadow mb-3 w-100">
              <div class="card-body">
                <h5 class="card-subtitle text-muted">{{ project.translated_name }}</h5>
                <h4 class="card-title">{{ project.language.name }}</h4>
                <h5 class="card-subtitle mb-2">Completion: <strong>{{ '{:.2f}%'.format(project.completion) }}</strong></h5>
                <h6 class="card-subtitle mb-2 text-muted">30 Days Progress: {{ '{:.2f}%'.format(project.change) }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Translators: {{ project.translators.number }}</h6>
                <h6 style="text-align: center;">
                  {% if project.built %}
                    <a href="https://docs.python.org/{{ project.language.code }}/3/" style="color: #1595fe;">View</a>
                    •
                  {% endif %}
                  {% if project.contribution_link %}
                    <a href="{{ project.contribution_link }}" style="color: #1595fe;">Contribute</a>
                  {% elif project.uses_platform %}
                    <a href="https://app.transifex.com/join/?o=python-doc&p=python-newest&t=opensource" style="color: #1595fe;">Contribute</a>
                  {% else %}
                    <a href="https://devguide.python.org/documentation/translations/translating/" style="color: #1595fe;">Contribute</a>
                  {% endif %}
                  {% if project.repository %}
                  •
                  <a href="https://github.com/{{ project.repository }}" style="color: #1595fe;">Repository</a>
                  {% endif %}
                </h6>
                <div class="progress-bar-container">
                  <div class="progress-bar-index" style="width: {{ project.completion }}%;
                    {% if project.change %}
                      background: linear-gradient(to left, #94cf96 {{ project.change * 100 / project.completion }}%, #4caf50 {{ project.change * 100 / project.completion }}%);
                    {% else %}
                      background-color: #4caf50;
                    {% endif %}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  <p style="text-align: center;">
    Last updated on {{ generation_time.strftime('%A, %-d %B %Y, %-H:%M:%S %Z') }} (in {{ duration // 60 }}:{{ "{:02}".format(duration % 60) }} minutes).<br/>
    You can find the scripts used to generate this website <a href="https://github.com/python-docs-translations/dashboard/">on GitHub</a>.<br/>
    You can download the data on this page in <a href="https://github.com/python-docs-translations/dashboard/blob/gh-pages/index.json">JSON format</a>.
  </p>
{% endblock %}
