{% extends "base.html.jinja" %}

{% block main %}
<div>
  <div class="row">
    {% for project in completion_progress | sort(attribute='completion') | reverse %}
      <div class="col-12 col-sm-6 col-md-4 d-flex">
        <div class="card shadow mb-3 w-100">
          <div class="card-body">
            <h3 class="card-title">{{ project.language.name }}</h3>
            <h5 class="card-subtitle mb-2 text-muted">{{ project.translated_name }}</h5>
            <p class="text-muted">Completion: <strong>{{ '{:.2f}%'.format(project.completion) }}</strong></p>
            <p class="text-muted">30-day progress: {{ '{:.2f}%'.format(project.change) }}</p>

            <p style="text-align: center;">
              {% if project.built %}
                <a href="https://docs.python.org/{{ project.language.code }}/3/" style="color: #1595fe;">View {{ project.language.name }}</a>
                •
              {% endif %}
              {% if project.contribution_link %}
                <a href="{{ project.contribution_link }}" style="color: #1595fe;">Contribute to {{ project.language.name }}</a>
              {% elif project.uses_platform %}
                <a href="https://app.transifex.com/join/?o=python-doc&p=python-newest&t=opensource" style="color: #1595fe;">Contribute to {{ project.language.name }}</a>
              {% else %}
                <a href="https://devguide.python.org/documentation/translations/translating/" style="color: #1595fe;">Contribute to {{ project.language.name }}</a>
              {% endif %}
            </p>
            <div class="progress-bar-container">
              <div class="progress-bar" style="width: {{ project.completion }}%;
                {% if project.change %}
                  background: linear-gradient(to left, #94cf96 {{ project.change * 100 / project.completion }}%, #4caf50 {{ project.change * 100 / project.completion }}%);
                {% else %}
                  background-color: #4caf50;
                {% endif %}">
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<p style="text-align: center;">
  Last updated {{ generation_time.strftime('on %A %-d %B %Y at %-H:%M:%S %Z') }} (in {{ duration // 60 }} minutes and {{ duration % 60 }} seconds).<br/>
  You can find the scripts used to generate this website <a href="https://github.com/python-docs-translations/dashboard/">on GitHub</a>.<br/>
  You can download the data on this page in <a href="https://raw.githubusercontent.com/python-docs-translations/dashboard/refs/heads/gh-pages/index.json">JSON format</a>.
</p>
{% endblock %}
