{% extends "base.html.jinja" %}

{% block main %}
<div style="margin-left: 3rem; margin-right: 3rem;">
  {% if project.built %}
    <h2 style="text-align: center;"><a href="https://docs.python.org/{{ project.language.code }}/3">{{ project.language.name }}</a></h2>
    <h1 style="text-align: center;"><a href="https://docs.python.org/{{ project.language.code }}/3">{{ project.translated_name }}</a></h1>
  {% else %}
    <h1 style="text-align: center;">{{ project.language.name }}</h1>
  {% endif %}

  {% if project.built and project.in_switcher %}
    <h6 style="text-align: center;">This project is built and is in the switcher.</h6>
  {% elif project.built %}
    <h6 style="text-align: center;">This project is built but is not yet in the switcher.</h6>
  {% else %}
    <h6 style="text-align: center;">This project is not built yet.</h6>
  {% endif %}

    <h4 style="text-align: center;">
      {% if project.translators.link %}
        <a href="{{ project.translators.link }}" style="color: #1595fe;">Contribute!</a>
      {% elif project.uses_platform %}
        <a href="https://app.transifex.com/join/?o=python-doc&p=python-newest&t=opensource" style="color: #1595fe;">Contribute!</a>
      {% else %}
        <a href="https://devguide.python.org/documentation/translations/translating/" style="color: #1595fe;">Contribute!</a>
      {% endif %}
      •
      <a href="https://github.com/{{ project.repository }}" style="color: #1595fe;">Repository</a>
    </h4>

<div class="row">
  <div class="card-container w-100">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Translators ({{ project.translators.number }})</h3>
        <h4 class="card-subtitle mb-2 text-muted">{{ project.translators.list | join(', ') }}</h4>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
