{% extends "base.html.jinja" %}

{% block main %}
<p>Related projects:</p>
<ul>
  <li><a href="https://hosted.weblate.org/projects/pypa/packaging-python-org/#information">packaging.python.org</a></li>
  <li><a href="https://hosted.weblate.org/projects/pypa/warehouse/#information">PyPI (Warehouse)</a></li>
  <li><a href="https://scientific-python-translations.github.io/status/">Scientific Python Translations</a></li>
  <li><a href="https://microbit.org/translate/">micro:bit translation programme</a></li>
  <li><a href="https://docs.djangoproject.com/en/dev/internals/contributing/localizing/">Localizing Django</a></li>
</ul>
{% endblock %}
