{% extends "base.html.jinja" %}

{% block main %}
<p>Related projects:</p>
<ul>
  <li><a href="https://hosted.weblate.org/projects/pypa/packaging-python-org/#information" target="_blank">packaging.python.org translation</a></li>
  <li><a href="https://hosted.weblate.org/projects/pypa/warehouse/#information" target="_blank">PyPI (Warehouse) translation</a></li>
  <li><a href="https://scientific-python-translations.github.io/status/" target="_blank">Scientific Python Translations</a></li>
  <li><a href="https://microbit.org/translate/" target="_blank">micro:bit translation programme</a></li>
  <li><a href="https://docs.djangoproject.com/en/dev/internals/contributing/localizing/" target="_blank">Localizing Django</a></li>
</ul>
{% endblock %}
