on:
  pull_request:
    types:
      - closed
jobs:
  cleanup:
    runs-on: ubuntu-latest
    # PRs from forks don't create previews
    if: github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          ref: gh-pages
      - run: git config user.name "github-actions[bot]"
      - run: git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - run: git rm -rf ${{ github.event.number }}
      - run: git commit -m 'Cleaning up gh-pages after ${{ github.event.number }}'
      - uses: ad-m/github-push-action@master
